h1{
    text-align:center;
}

.inthis{
    margin: 5% 10%;
    text-align:center;
    width:80%;
    border:2px solid #4da8a8;
    background:silver;
    box-shadow:0 0 10pt #220f0f;
    padding:10pt;
    border-radius:4pt;
}
.block{
    margin:10pt;
    padding:10pt;
    border:2px solid #095353;
    border-radius:4pt;
    width:30%;
    height:400px;
    display:inline-block;
    vertical-align: middle;
}

ul{
    text-align:left;
}

#addSecret{
    margin:10pt;
    padding:10pt;
    border:2px solid #095353;
    border-radius:4pt;
    width:70%;
    height:400px;
    display:none;
    vertical-align: middle;
}

#readSecret{
    margin:10pt;
    padding:10pt;
    border:2px solid #095353;
    border-radius:4pt;
    width:70%;
    height:400px;
    display:none;
    vertical-align: middle;
}


tr:hover td {
    opacity: 0.5;
    cursor: pointer;
}

#buttonAdd{
    display:none;
}

.name1{
    margin: 8%;
    text-align: center;
    width: 80%;
    border: 2px solid #095353;
    background: #dcd8d8;
    padding: 5pt;
    border-radius: 4pt;
}
.detail1{
    margin: 8%;
    height: 30%;
    text-align: center;
    width: 80%;
    border: 2px solid #095353;
    background: #dcd8d8;
    padding: 5pt;
    border-radius: 4pt;
}
.autor{
    margin: 8%;
    text-align: center;
    width: 80%;
    border: 2px solid #095353;
    background: #dcd8d8;
    padding: 5pt;
    border-radius: 4pt;
}

.colomn1{
    width: 10%;
}
.colomn2{
    width: 30%;
}
.colomn3{
    width: 60%;
}
.blockIn{
    padding: 5px;
    margin: 10px;

    border: 2px solid #095353;
    border-radius: 4pt;
    width: 90%;
    text-align: center;
    height: 31px;
    vertical-align: middle;
    background: #dcd8d8;
}